.fc-canvas {
  position: relative;
  width: 100%;
  height: 100%;
}

.fc-canvas svg {
  position: relative;
  width: 100%;
  height: 100%;
}

.fc-canvas {
  position: relative;
  width: 100%;
  height: 100%;
}

.fc-canvas svg {
  position: relative;
  width: 100%;
  height: 100%;
}


.workflow-canvas {
  position: relative;
  width: 100%;
  height: 100%;
}

.workflow-canvas svg {
  position: relative;
  width: 100%;
  height: 100%;
}



.workflow-node {
  z-index: 1;
}

.innerNode {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  border-radius: 5px;
  border: 0.5px solid #A6A6A6;
  background-color: #CCCCCC;
  color: black;
  font-size: 11px;
}

.workflow-node.workflow-hover {
  -webkit-filter: brightness(70%);
  filter: brightness(70%);;
  cursor: move;
}

.workflow-node.workflow-selected {
  -webkit-filter: brightness(70%);
  filter: brightness(70%);
}

.workflow-node.workflow-dragging {
  z-index: 10;
  cursor: move;
}

.workflow-node p {
  padding-top: 25px;
  padding-bottom: 20px;
  text-align: center;
}

.workflow-topConnectors, .workflow-bottomConnectors {
  position: absolute;
  left: 0;
  width: 100%;

  display: flex;
  flex-direction: row;

  z-index: -10;
}

.workflow-topConnectors {
  top: -40px;
}

.workflow-bottomConnectors {
  bottom: -40px;
}

.workflow-magnet {
  display: flex;
  flex-grow: 1;
  height: 60px;

  justify-content: center;
}

.workflow-topConnectors .workflow-magnet {
  align-items: flex-end;
}

.workflow-bottomConnectors .workflow-magnet {
  align-items: flex-start;
}

.workflow-connector {
  width: 18px;
  height: 18px;

  border: 10px solid transparent;
  -moz-background-clip: padding; /* Firefox 3.6 */
  -webkit-background-clip: padding; /* Safari 4? Chrome 6? */
  background-clip: padding-box;
  border-radius: 50% 50%;
  background-color: #F7A789;
  color: #fff;
}

.workflow-connector.workflow-hover {
  background-color: #000;
}

.workflow-edge {
  stroke: gray;
  stroke-width: 4;
  fill: transparent;
}

.workflow-edge.workflow-hover {
  stroke: gray;
  stroke-width: 6;
  fill: transparent;
}

@keyframes dash {
  from {
    stroke-dashoffset: 500;
  }
}

.workflow-edge.workflow-selected {
  stroke: red;
  stroke-width: 4;
  fill: transparent;
}

.workflow-edge.workflow-active {
  animation: dash 3s linear infinite;
  stroke-dasharray: 20;
}

.workflow-edge.workflow-dragging {
  pointer-events: none;
}

.edge-endpoint {
  fill: gray;
}

.workflow-nodedelete {
  display: none;
}

.workflow-selected .workflow-nodedelete {
  display: block;
  position: absolute;
  right: -13px;
  top: -13px;
  border: solid 2px white;

  border-radius: 50%;
  font-weight: 600;
  font-size: 20px;

  height: 25px;
  padding-top: 2px;
  width: 27px;

  background: #494949;
  color: #fff;
  text-align: center;
  vertical-align: bottom;
}









.fc-canvas {
  position: relative;
  width: 100%;
  height: 100%;
}

.fc-canvas svg {
  position: relative;
  width: 100%;
  height: 100%;
}



.fc-node {
  z-index: 1;
}

.innerNode {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  border-radius: 5px;
  border: 0.5px solid #A6A6A6;
  background-color: #CCCCCC;
  color: black;
  font-size: 11px;
}

.fc-node.fc-hover {
  -webkit-filter: brightness(70%);
  filter: brightness(70%);;
  cursor: move;
}

.fc-node.fc-selected {
  -webkit-filter: brightness(70%);
  filter: brightness(70%);
}

.fc-node.fc-dragging {
  z-index: 10;
  cursor: move;
}

.fc-node p {
  padding-top: 25px;
  padding-bottom: 20px;
  text-align: center;
}

.fc-topConnectors, .fc-bottomConnectors {
  position: absolute;
  left: 0;
  width: 100%;

  display: flex;
  flex-direction: row;

  z-index: -10;
}

.fc-topConnectors {
  top: -40px;
}

.fc-bottomConnectors {
  bottom: -40px;
}

.fc-magnet {
  display: flex;
  flex-grow: 1;
  height: 60px;

  justify-content: center;
}

.fc-topConnectors .fc-magnet {
  align-items: flex-end;
}

.fc-bottomConnectors .fc-magnet {
  align-items: flex-start;
}

.fc-connector {
  width: 18px;
  height: 18px;

  border: 10px solid transparent;
  -moz-background-clip: padding; /* Firefox 3.6 */
  -webkit-background-clip: padding; /* Safari 4? Chrome 6? */
  background-clip: padding-box;
  border-radius: 50% 50%;
  background-color: #F7A789;
  color: #fff;
}

.fc-connector.fc-hover {
  background-color: #000;
}

.fc-edge {
  stroke: gray;
  stroke-width: 4;
  fill: transparent;
}

.fc-edge.fc-hover {
  stroke: gray;
  stroke-width: 6;
  fill: transparent;
}

@keyframes dash {
  from {
    stroke-dashoffset: 500;
  }
}

.fc-edge.fc-selected {
  stroke: red;
  stroke-width: 4;
  fill: transparent;
}

.fc-edge.fc-active {
  animation: dash 3s linear infinite;
  stroke-dasharray: 20;
}

.fc-edge.fc-dragging {
  pointer-events: none;
}

.edge-endpoint {
  fill: gray;
}

.fc-nodedelete {
  display: none;
}

.fc-selected .fc-nodedelete {
  display: block;
  position: absolute;
  right: -13px;
  top: -13px;
  border: solid 2px white;

  border-radius: 50%;
  font-weight: 600;
  font-size: 20px;

  height: 25px;
  padding-top: 2px;
  width: 27px;

  background: #494949;
  color: #fff;
  text-align: center;
  vertical-align: bottom;
}

