<div
  id="{{node.id}}"
  ng-attr-style="position: absolute; top: {{ node.y }}px; left: {{ node.x }}px;"
  ng-dblclick="callbacks.doubleClick($event)">

  <div class="innerNode">
    <p>{{ node.name }}</p>
    <div class="workflow-input">
      <div magnet
           ng-repeat="input in modelservice.nodes.getConnectorsByType(node, 'input')">
        <div node-connector></div>
      </div>
    </div>


    <div class="workflow-output">

      <div magnet
           ng-repeat="output in modelservice.nodes.getConnectorsByType(node, 'output')">
        <div node-connector></div>
      </div>
    </div>

  </div>

</div>
