<div
  id="{{node.id}}"
  ng-attr-style="position: absolute; top: {{ node.y }}px; left: {{ node.x }}px;"
  ng-dblclick="callbacks.doubleClick($event)">
  <div class="innerNode">
    <p>{{ node.name }}</p>

    <div class="{{'workflow-input'}}">
      <div fc-magnet
           ng-repeat="input in modelservice.nodes.inputs">
        <div fc-connector></div>
      </div>
    </div>
    <div class="{{'workflow-output'}}">
      <div fc-magnet
           ng-repeat="output in modelservice.nodes.outputs">
        <div fc-connector></div>
      </div>
    </div>
  </div>
  <div class="fc-nodedelete" ng-click="modelservice.nodes.delete(node)">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
  </div>
</div>
