<div
  id="{{node.id}}"
  ng-attr-style="position: absolute; top: {{ node.y }}px; left: {{ node.x }}px; background: {{ node.color }}; border-color: {{node.borderColor}}">
  <p>{{ node.name }}</p>

  <div class="{{'workflow-input'}}">
    <div fc-connector
         ng-repeat="connector in modelservice.nodes.getConnectorsByType(node, 'input')"></div>
  </div>
  <div class="{{'workflow-output'}}">
    <div fc-connector
         ng-repeat="connector in modelservice.nodes.getConnectorsByType(node, 'output')"></div>
  </div>
</div>
