a {
  color: black;
}

h1 {
  font-size: 3em;
  margin: 0;
}

.navbar-nav {
  width: 100%;
  text-align: center;
  > button {
    float: none;
    display: inline-block;
    margin: 10px;

  }
}

.nav {
  .btn-group {
    //padding-bottom: 10px;
  }
  a:hover, a:focus {
    color: green;
  }
}



.ng-aside .modal-content {
  min-width: 320px;
}
