<nav class="navbar navbar-fixed-top navbar-default">
  <div class="nav navbar-nav row container-fluid">
    <div class="row">
      <div class="col-sm-10">
        <a href="http://nipy.org/nipype/" class="pull-left"><img height="50" src="assets/images/nipy.png"></a>
        <span class="navbar-brand pull-left">Nipype Workflow Editor </span>
        <button type="button" class="btn btn-link" ng-click="">
          <i class="fa fa-upload" aria-hidden="true"></i>
          Load<!--TODO-->
        </button>
        <button type="button" class="btn btn-md btn-link" ng-click="main.downloadJSON()">
          <i class="fa fa-download" aria-hidden="true"></i>
          Download
        </button>
      </div>
      <div class="col-sm-2">

        <button ng-click="main.showRightSidebar = !main.showRightSidebar"
                class="pull-right btn btn-success btn-md btn-block" type="button">
          Add Node
        </button>
      </div>

    </div>
  </div>
</nav>

<button type="button" class="navbar-toggle toggle-sidebar toggle-right"
        ng-click="main.showRightSidebar = !main.showRightSidebar">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</button>

<div sidebar="main.showRightSidebar"
     class="col-xs-2 col-xs-offset-10 sidebar-right sidebar-animate">

  <form role="search">
    <div class="form-group">
      <input type="text" ng-model="selected" placeholder="Search for an Interface" uib-typeahead-min-length="0"
             uib-typeahead="interface for interface in main.interface_fullnames | filter:$viewValue | limitTo:10"
             class="form-control" typeahead-on-select="main.selectItem($item, $model, $label)">
    </div>
  </form>


  <div ng-init="expanded=false" class="nav navbar-stacked" ng-repeat="category in main.categories">
    <button type="button" class="btn btn-default btn-block" ng-click="expanded = !expanded">
      {{category | uppercase}}
      <span class='pull-right glyphicon' ng-class="{'glyphicon-menu-up': expanded, 'glyphicon-menu-down': !expanded }"
            aria-hidden="true"></span>

    </button>
    <div uib-collapse="!expanded" ng-repeat="(index, interface_object) in main.interfacesByCategory(category)">
      <div ng-repeat="(interface, name) in interface_object">
        <button type="button" ng-click="main.selectItem(interface, null, name)"
                class="btn btn-block">
          {{name}}
        </button>
      </div>
    </div>
  </div>
</div>


<div class="col-md-10">

  <workflow-canvas model="main.model" selected-objects="main.selectedItems" edge-style="line" callbacks="main.callbacks"
                   automatic-resize="true"></workflow-canvas>

</div>




<!--<workflow-->
<!--model="main.model"-->
<!--default-node-width="150"-->
<!--node-height="70"-->
<!--editor-width="main.editorWidth"-->
<!--editor-height="main.editorHeight"-->
<!--&gt;-->

<!--</workflow>-->



