<div class="modal-header">
  <h3 class="modal-title centered">
    Nipype Interfaces
  </h3>
</div>
<div class="modal-body">


    <form role="search">
      <div class="form-group">
        <input type="text" ng-model="selected" placeholder="Search for an Interface" uib-typeahead-min-length="3"
               uib-typeahead="interface for interface in menu.interface_fullnames | filter:$viewValue | limitTo:10"
               class="form-control" typeahead-on-select="menu.selectItem($item, $model, $label)">
      </div>
    </form>
  <hr>


<div ng-repeat="category in menu.categories">
  <div ng-init="expanded=false">
    <button type="button" class="btn btn-default btn-block" ng-click="expanded = !expanded">
         {{category | uppercase}}
      <!--<span ng-if="expanded" class="pull-right glyphicon glyphicon-menu-up" aria-hidden="true"></span>-->
      <!--<span ng-if="!expanded" class="pull-right glyphicon glyphicon-menu-down" aria-hidden="true"></span>-->

      <span ng-if="expanded" class="pull-right glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
      <span ng-if="!expanded" class="pull-right glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </button>
    <div uib-collapse="!expanded" ng-repeat="(index, interface_object) in menu.interfacesByCategory(category)">
      <div ng-repeat="(interface, name) in interface_object" ng-init="even=index%2">
        <button type="button" ng-click="menu.selectItem(interface, null, null)"
                ng-class="even==0 ? 'btn btn-primary btn-block' : 'btn btn-primary btn-block'">
          {{name}}
        </button>
      </div>
    </div>
  </div>


</div>

  <!--<button type="button" class="btn btn-default" ng-click="menu.isCollapsed = !menu.isCollapsed">Toggle collapse</button>-->
  <!--<div uib-collapse="menu.isCollapsed">-->
    <!--<div class="well well-sm">Some content</div>-->
  <!--</div>-->

  <!---->
<!--<div>-->
  <!--<script type="text/ng-template" id="group-template.html">-->
    <!--<div class="panel {{panelClass || 'panel-default'}}">-->
      <!--<div class="panel-heading">-->
        <!--<h4 class="panel-title" style="color:#fa39c3">-->
          <!--<a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading"><span-->
            <!--ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>-->
        <!--</h4>-->
      <!--</div>-->
      <!--<div class="panel-collapse collapse" uib-collapse="!isOpen">-->
        <!--<div class="panel-body" style="text-align: right" ng-transclude></div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</script>-->
  <!--sup-->
  <!--<uib-accordion close-others="oneAtATime">-->
    <!--<uib-accordion-group heading="Static Header, initially expanded" is-open="true" is-disabled="false">-->
      <!--This content is straight in the template.-->
    <!--</uib-accordion-group>-->
    <!--<uib-accordion-group heading="{{category}}" ng-repeat="category in main.categories">-->
      <!--{{group.content}}-->
    <!--</uib-accordion-group>-->
    <!--<uib-accordion-group heading="Dynamic Body Content">-->
      <!--<p>The body of the uib-accordion group grows to fit the contents</p>-->
      <!--<button type="button" class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>-->
      <!--<div ng-repeat="item in items">{{item}}</div>-->
    <!--</uib-accordion-group>-->
    <!--&lt;!&ndash;<uib-accordion-group heading="Custom template" template-url="group-template.html">&ndash;&gt;-->
    <!--&lt;!&ndash;Hello&ndash;&gt;-->
    <!--&lt;!&ndash;</uib-accordion-group>&ndash;&gt;-->
    <!--<uib-accordion-group heading="Delete account" panel-class="panel-danger">-->
      <!--<p>Please, to delete your account, click the button below</p>-->
      <!--<button class="btn btn-danger">Delete</button>-->
    <!--</uib-accordion-group>-->
    <!--<uib-accordion-group is-open="status.open">-->
      <!--<uib-accordion-heading>-->
        <!--I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>-->
      <!--</uib-accordion-heading>-->
      <!--This is just some content to illustrate fancy headings.-->
    <!--</uib-accordion-group>-->
  <!--</uib-accordion>-->

<!--</div>-->




</div>
