.workflow-canvas {
  position: relative;
  width: 100%;
  height: 100%;
}

.workflow-canvas svg {
  position: relative;
  width: 100%;
  height: 100%;
}

.workflow-node {
  z-index: 1;
  position: relative;
}

.innerNode {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  border-radius: 5px;
  border: 0.5px solid #898989;
  background-color: #afafaf;
  color: black;
  font-size: 11px;
}

.workflow-node.workflow-hover {
  -webkit-filter: brightness(70%);
  filter: brightness(70%);;
}

.workflow-node.workflow-selected {
  -webkit-filter: brightness(70%);
  filter: brightness(70%);
}

.workflow-node.workflow-dragging {
  z-index: 10;
  cursor: move;
}

.workflow-node p {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 5px;
  text-align: center;
}

.workflow-input, .workflow-output {
  position: absolute;
  left: 0;
  width: 100%;

  display: flex;
  flex-direction: row;

  z-index: -10;
}

.workflow-input {
  top: -50px;
}

.workflow-output {
  bottom: -50px;
}

.workflow-magnet {
  display: flex;
  flex-grow: 1;
  height: 60px;

  justify-content: center;
}

.workflow-input .workflow-magnet {
  align-items: flex-end;
}

.workflow-output .workflow-magnet {
  align-items: flex-start;
}

.workflow-connector {
  width: 20px;
  height: 20px;
  //border: 3px solid black;
  border: 5px solid transparent;
  -moz-background-clip: padding; /* Firefox 3.6 */
  -webkit-background-clip: padding; /* Safari 4? Chrome 6? */
  background-clip: padding-box;
  border-radius: 50% 50%;
  background-color: #898989;
  color: #afafaf;
}

.workflow-connector.workflow-hover {
  background-color: #000;
}

.workflow-edge {
  stroke: gray;
  stroke-width: 4;
  fill: transparent;
}

.workflow-edge.workflow-hover {
  stroke: gray;
  stroke-width: 6;
  fill: transparent;
}

@keyframes dash {
  from {
    stroke-dashoffset: 500;
  }
}

.workflow-edge.workflow-selected {
  stroke: red;
  stroke-width: 4;
  fill: transparent;
}

.workflow-edge.workflow-active {
  animation: dash 3s linear infinite;
  stroke-dasharray: 20;
}

.workflow-edge.workflow-dragging {
  pointer-events: none;
}

.edge-endpoint {
  fill: gray;
}

.workflow-nodedelete {
  display: none;
}

.workflow-selected .workflow-nodedelete {
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
  border: solid 2px white;

  border-radius: 50%;
  font-weight: 600;
  font-size: 20px;

  height: 25px;
  padding-top: 2px;
  width: 30px;

  background: #494949;
  color: #fff;
  text-align: right;
  vertical-align: bottom;
}
