<svg
  xmlns="http://www.w3.org/2000/svg"
  id="svg-container"
  x="0"
  y="0"
  ng-attr-width="{{editorWidth}}"
  ng-attr-height="{{editorHeight}}"
>

  <g
    ng-repeat="(id, node) in model.nodes"
    ng-attr-id="{{node.id}}"
    ng-attr-x="{{node.x}}"
    ng-attr-y="{{node.y}}"
    ng-init="hovering=false"
    draggable="{right: editorWidth - nodeWidth({nodeobj:node}) - 7}"
  >

    <rect
      ry="8"
      rx="8"
      ng-attr-width="{{nodeWidth({nodeobj:node}) || 150}}"
      ng-attr-height="{{nodeHeight}}"
      fill="#cccccc"
      ng-class="isNodeSelected(id) ? 'selected-node-rect' : 'node-rect'"
      ng-mouseenter="hovering=true"
      ng-mouseleave="hovering=false"
    >
    </rect>

    <text
      ng-attr-x="{{nodeWidth({nodeobj:node})/2}}"
      ng-attr-y="{{nodeHeight/2}}"
      text-anchor="middle"
      alignment-baseline="middle"
      class="node-name"
    >
      {{node.interface.name}}
    </text>


    <g
      id="delete-button"
      ng-if="hovering && node.interface.name != 'input dataset'"
      ng-click="deleteNode(node.id)"
    >
      <circle
        ng-attr-cx="{{node.x + nodeWidth({nodeobj:node}) - 6}}"
        ng-attr-cy="{{node.y + 6}}"
        r="12"
        fill="black"
        stroke="white"
        stroke-width="4"
        ng-class="isNodeSelected(id) ? 'selected-node-rect' : 'node-rect'"
      >
      </circle>
      <text
        ng-attr-y="{{node.y + 6}}"
        ng-attr-x="{{node.x + nodeWidth({nodeobj:node}) - 6}}"
        fill="white"
        text-anchor="middle"
        alignment-baseline="middle"
        class="node-name"
      >
        X
      </text>
    </g>


    <g
      ng-repeat="(input, value) in node.interface.inputs"
      class="connector input-connector" ng-init="showText=false"
    >
      <text
        ng-if="showText"
        ng-attr-y="{{node.y+10}}"
        ng-attr-x="{{28 + ($index*14)}}"
        text-anchor="middle"
        alignment-baseline="middle"
        class="connector-name"
      >
        {{input}}
      </text>

      <circle
        r="4"
        ng-attr-cx="{{28 + ($index*14)}}"
        cy="0"
        ng-class="isNodeSelected(id) ? 'selected-connector-circle' : 'connector-circle'"
        ng-mouseenter="showText=true"
        ng-mouseleave="showText=false"
      />
    </g>

    <g
      ng-repeat="(output, value) in node.interface.outputs"
      class="connector output-connector" ng-init="showText=false"
    >
      <text
        ng-if="showText"
        ng-attr-x="{{28 + ($index*14)}}"
        ng-attr-y="{{node.x + (nodeHeight-10)}}"
        text-anchor="middle"
        alignment-baseline="middle"
        class="connector-name"
      >
        {{output}}
      </text>

      <circle
        r="4"
        ng-attr-cx="{{28 + ($index*14)}}"
        ng-attr-cy="{{nodeHeight}}"
        ng-class="isNodeSelected(id) ? 'selected-connector-circle' : 'connector-circle'"
        ng-mouseenter="showText=true"
        ng-mouseleave="showText=false"
      />
    </g>
  </g>


  <g
    ng-repeat="edge in vm.model.edges"
    class="edge"
  >
    <path
      ng-class="isEdgeSelected(id) ? 'selected-edge' : 'edge'"
      ng-attr-d="M {{edge.sourceCoordX()}}, {{edge.sourceCoordY()}}
C {{edge.sourceTangentX()}}, {{edge.sourceTangentY()}}
{{edge.destTangentX()}}, {{edge.destTangentY()}}
{{edge.destCoordX()}}, {{edge.destCoordY()}}"
    >
    </path>
    <circle
      ng-class="isEdgeSelected(id) ? 'selected-edge-endpoint' : 'edge-endpoint'"
      r="4"
      ng-attr-cx="{{edge.sourceCoordX()}}"
      ng-attr-cy="{{edge.sourceCoordY()}}"
    >
    </circle>

    <circle
      ng-class="isEdgeSelected(id) ? 'selected-edge-endpoint' : 'edge-endpoint'"
      r="4"
      ng-attr-cx="{{edge.destCoordX()}}"
      ng-attr-cy="{{edge.destCoordY()}}"
    >
    </circle>
  </g>

  <g
    ng-if="vm.currentlyDrawingEdge"
  >
    <path
      class="dragging-edge dragging-edge-line"
      ng-attr-d="M {{vm.dragPoint1.x}}, {{vm.dragPoint1.y}}
C {{vm.dragTangent1.x}}, {{vm.dragTangent1.y}}
{{vm.dragTangent2.x}}, {{vm.dragTangent2.y}}
{{vm.dragPoint2.x}}, {{vm.dragPoint2.y}}"
    >
    </path>

    <circle
      class="dragging-edge dragging-edge-endpoint"
      r="4"
      ng-attr-cx="{{dragPoint1.x}}"
      ng-attr-cy="{{dragPoint1.y}}"
    >
    </circle>

    <circle
      class="dragging-edge dragging-edge-endpoint"
      r="4"
      ng-attr-cx="{{dragPoint2.x}}"
      ng-attr-cy="{{dragPoint2.y}}"
    >
    </circle>
  </g>


  <g
    ng-if="vm.currentlyDrawingSelectionRect"
  >
    <path
      ng-attr-d="M {{vm.dragSelectionRect.x1}},{{vm.dragSelectionRect.y1}} H {{vm.dragSelectionRect.x2}} V {{vm.dragSelectionRect.y2}} H {{vm.dragSelectionRect.x1}} Z"
      class="dragging-edge"/>
  </g>


</svg>
