<svg
  xmlns="http://www.w3.org/2000/svg"
  id="svg-container"
  x="0"
  y="0"
  ng-attr-width="{{vm.editorWidth}}"
  ng-attr-height="{{vm.editorHeight}}"
>

  <g
    ng-repeat="(id, node) in vm.model.nodes"
    ng-attr-id="{{node.id}}"
    ng-attr-transform="translate({{node.x}},{{node.y}})"
    ng-init="hovering=false"
    draggable="{right: vm.editorWidth - vm.nodeWidth(node) - 7}"
  >


    <rect
      ry="8"
      rx="8"
      ng-attr-width="{{vm.nodeWidth(node)}}"
      ng-attr-height="{{vm.nodeHeight}}"
      fill="#cccccc"
      ng-class="vm.isNodeSelected(id) ? 'selected-node-rect' : 'node-rect'"
      ng-click="vm.selectNode(id)"
    >
    </rect>

    <text
      ng-attr-x="{{vm.nodeWidth(node)/2}}"
      ng-attr-y="{{vm.nodeHeight/2}}"
      text-anchor="middle"
      alignment-baseline="middle"
      class="node-name"
    >
      {{node.interface.name}}
    </text>


    <g
      ng-repeat="(input, value) in node.interface.inputs"
      class="connector input-connector" ng-init="showText=false"
    >
      <text
        ng-if="showText"
        ng-attr-y="{{node.y+10}}"
        ng-attr-x="{{28 + ($index*14)}}"
        text-anchor="middle"
        alignment-baseline="middle"
        class="connector-name"
      >
        {{input}}
      </text>

      <circle
        r="4"
        ng-attr-cx="{{28 + ($index*14)}}"
        cy="0"
        ng-class="isNodeSelected(id) ? 'selected-connector-circle' : 'connector-circle'"
        ng-mouseenter="showText=true"
        ng-mouseleave="showText=false"
        destination="vm.creatingConnection"
      />
    </g>

    <g
      ng-repeat="(output, value) in node.interface.outputs"
      class="connector output-connector" ng-init="showText=false"
    >
      <text
        ng-if="showText"
        ng-attr-x="{{28 + ($index*14)}}"
        ng-attr-y="{{node.x + (vm.nodeHeight-10)}}"
        text-anchor="middle"
        alignment-baseline="middle"
        class="connector-name"
      >
        {{output}}
      </text>

      <circle
        r="4"
        ng-attr-cx="{{28 + ($index*14)}}"
        ng-attr-cy="{{vm.nodeHeight}}"
        ng-class="isNodeSelected(id) ? 'selected-connector-circle' : 'connector-circle'"
        ng-mouseenter="showText=true"
        ng-mouseleave="showText=false"
        source="vm.creatingConnection"
      />
    </g>
  </g>


  <g
    ng-repeat="edge in vm.model.edges"
    class="edge"
    ng-attr-id="edge.id"
  >
    <line
      ng-class="isEdgeSelected(id) ? 'selected-edge' : 'edge'"
      ng-attr-x1="{{edge.startPoint.x}}"
      ng-attr-y1="{{edge.startPoint.y}}"
      ng-attr-x2="{{edge.endPoint.x}}"
      ng-attr-y2="{{edge.endPoint.y}}"
    >
    </line>

  </g>


  <g
    ng-if="vm.currentlyDrawingSelectionRect"
  >
    <path
      ng-attr-d="M {{vm.dragSelectionRect.x1}},{{vm.dragSelectionRect.y1}} H {{vm.dragSelectionRect.x2}} V {{vm.dragSelectionRect.y2}} H {{vm.dragSelectionRect.x1}} Z"
      class="dragging-edge"/>
  </g>


</svg>
