a {
  color: black;
}

h1 {
  font-size: 2em;
  margin: 0;
  line-height: 1.25em;
}



.nav {
  .btn-group {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  a:hover, a:focus {
    color: green;
  }
}

